 
  /* Användbart för att skapa en tillgänglig knappstil */
  .accessible-button {
    background-color: #0073e6; /* Färg på bakgrunden */
    color: #fff; /* Textfärg */
    border: 2px solid #0073e6; /* Kantdetaljer */
    border-radius: 4px; /* Runda hörn */
    padding: 10px 20px; /* Storlek och padding */
    font-size: 16px; /* Textstorlek */
    cursor: pointer; /* Pekande handmarkör */
    transition: background-color 0.3s, color 0.3s; /* Smidig övergång för effekter */
  }
  
  /* Hover-effekt */
  .accessible-button:hover {
    background-color: #005bbd; /* Ändra bakgrundsfärg vid hovring */
    color: #fff; /* Ändra textfärg vid hovring */
  }
  
  /* Fokus-effekt för bättre tillgänglighet */
  .accessible-button:focus {
    outline: none; /* Ta bort standard fokus-ram */
    box-shadow: 0 0 0 3px rgba(0, 115, 230, 0.3); /* Anpassad fokus-ram */
  }

  
  /* Styla formulärets element */
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #a6a5a5;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  
 
  
