/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.logo{
  max-width: 100px; /* Anpassa storleken efter din logotyp */
  height: fit-content;
}
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  display: inline;
  margin-right: 120px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

