/* About.css */
.about-container {
    max-width: 600px;
    margin: 0 auto;

  padding: 60px;
  background-color: #e0dbdb;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  margin-top: 10px;
}

p {
  font-size: 18px;
  color: #333;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.hemsida-link{
    min-height: 100px;
}
